<input
  type="text"
  name="title"
  value="{{title}}"
  placeholder="Enter the title for the book"
/>

<select name="author">
  {{#each authors}}
    <option value="{{_id}}">{{firstName}} {{lastName}}</option>
  {{/each}}
</select>

<input
  type="number"
  name="rating"
  value="{{rating}}"
  placeholder="Enter a rating for the book"
/>
<textarea
  name="description"
  placeholder="Enter some description for the book"
>{{description}}</textarea>